<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.morning.v2.mapper.CourseMapper">
    <!--插入单个-->
    <!--boolean insertCourse(@Param("course") Course course);-->
    <insert id="insertCourse">
        insert into
            courses
        values
            (DEFAULT, #{year}, #{courseType}, #{courseName}, #{nature}, #{credits}, #{practiceCredits}, #{semester}, #{school},#{indicators}, #{notes})
    </insert>
    <!--插入多个-->
    <!--boolean insertCoursesBatch(@Param("courses") List<Course> courses);-->
    <insert id="insertCoursesBatch">
        insert into
            courses
        values
            <foreach collection="courses" item="c" separator=",">
                (DEFAULT,#{c.year}, #{c.courseType}, #{c.courseName}, #{c.nature}, #{c.credits},#{c.practiceCredits}, #{c.semester}, #{c.school},#{c.indicators}, #{c.notes})
            </foreach>
    </insert>
    
    <!--查询所有课程-->    
    <!--List<Course> selectAllCourses();-->
    <select id="selectAllCourses" resultType="com.morning.v2.pojo.Course">
        select
            id, year, course_type as courseType, course_name as courseName, nature,
            credits, practice_credits as practiceCredits, semester, school,
            indicators, notes
        from
            courses
    </select>
    
    <!--查询所有不同的年份-->    
    <!--List<String> selectAllYears();-->
    <select id="selectAllYears" resultType="java.lang.String">
        select distinct
            year
        from
            courses
        where
            year is not null and year != ''
        order by
            year desc
    </select>
</mapper>